doctype html
html( lang='en')

    head
        title login page 

    body
        h2 sign up
        form( action='' method='POST')
            label( for="username") username
            input(type="text", name="username" id="user")
            br
            label( for="password" ) password
            input(type="password", name="password")
            br
            button(type="submit") Submit